body, .navbar.navbar-expand-lg.bg-body-tertiary .nav-link, .container-fluid{
    font-family: 'Roboto';
    color: #404240;
    background-color: white;
}
.navbar.navbar-expand-lg.bg-body-tertiary{
    margin-top: 1.5%;
}
.navbar.navbar-expand-lg.bg-body-tertiary .nav-link:hover, .sub-nav-link:hover, .link:hover{
    color: rgb(40, 145, 181);
}
.link{
    text-decoration: none;
    color: #404240;
}
.wrapper{
   width: 70%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.login-field{
    width: 50%;
    text-align: center;
    margin: auto;
}
#navContent{
    margin: auto;
}
.progress-bar-container{
    background-color: white;
    outline: 2px solid #404240;
    height: 20px;
    width: 100%;
}
.progress-bar{
    height: 100%;
    background-color: #404240;
    width: 0%;
}
.subtext{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
/* * {
  outline: 1px solid red;
} */
.test1{
    outline: 3px solid green !important;
    color: green !important;
}
.test2{
    outline: 3px solid red !important;
    color: green !important;
}