body, .navbar.navbar-expand-lg.bg-body-tertiary .nav-link, .container-fluid{
    font-family: 'Roboto';
    color: white;
    background-color: #111111;
}
.navbar.navbar-expand-lg.bg-body-tertiary{
    margin-top: 1.5%;
}
.navbar.navbar-expand-lg.bg-body-tertiary .nav-link:hover, .sub-nav-link:hover, .link:hover{
    color: rgb(40, 145, 181);
}
.link{
    text-decoration: none;
    color: white;
}
.wrapper{
   width: 70%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
#navContent{
    margin: auto;
}
/* * {
  outline: 1px solid red;
} */
/* .test{
    outline: 3px solid green !important;
    color: green !important;
} */