{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<p>Login:</p>
<form method="post">
    <input type="text" name="username" placeholder="Spotify Username">
    <p></p>
    <input type="text" name="password" placeholder="Spotify Password">
    <p></p>
    <input type="submit" value="submit">
</form>
{% endblock %}
<!-- 
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="addon-wrapping">
</div> -->

<!-- <div class="input-group" style="margin-right: 50px;">
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="addon-wrapping" name="name">
    <input type="submit" name="submit" value="Submit" method="post">
</div> -->