{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="wrapper" style="width: 50%;">
    <h3>Login:</h3>
    <p></p>
    <form method="post">
        <input type="text" class="form-control login-field" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" name="username">
        <p></p>
        <input type="text" class="form-control login-field" placeholder="Password" aria-label="Username"
            aria-describedby="basic-addon1" name="password">
        <p></p>
        <button type="submit" class="btn btn-success" value="submit">Submit</button>
        <br>
    </form>
    <p></p>
<div>Don't have an account?</div>
<a class="link" href="/register">Register here.</a>
</div>
{% endblock %}