{% extends "base.html" %}
{% block title %}Music Trivia{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<script>
function updateProgressBar() {
    console.log('Running update function.')
    var intervalId = setInterval(function () {
        console.log('Running interval function.')
        // Make AJAX request to retrieve progress
        $.ajax({
            url: 'http://127.0.0.1:8000/progress',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var progress = data.progress;
                $('#progress-bar').css('width', progress + '%');
                if (progress >= 99) {
                    clearInterval(intervalId);  // Stop the timer
                }
            }
        });
    }, 1000);  // Interval in milliseconds
}

document.addEventListener("DOMContentLoaded", () =>
{
    // Shuffle by artist was chosen
    document.getElementsByName('shuffleArtist')[0].addEventListener('click', () => 
    {
        document.getElementById('gamemode-div').style.display = 'none';
        document.getElementById('type-artist').style.display = 'block';
    })  

    // Artist name was submitted
    document.getElementById('artist-submit').addEventListener('click', () =>
    {
        updateProgressBar();
        var chosenArtist = document.getElementById('artist-field').value;
        document.getElementById('type-artist').style.display = 'none';
        document.getElementById('progress-div').style.display = 'block';
        document.getElementById('progress-message').innerText = 
        `Asking Spotify for your ${chosenArtist} songs...`;
    })
})
</script>

<body>
    <div class="wrapper">
        <!--Greeting-->
        <p>Welcome, {{display_name}} </p>
        <img src="{{profile_pic_url}}">
        <!--Choose gamemode-->
        <p></p>
        <div id="gamemode-div">
            <p class="fs-4">Choose a gamemode:</p>
            <button type="submit" class="btn btn-secondary" 
            name="shuffleArtist">Shuffle by artist</button>
            <button type="submit" class="btn btn-secondary" 
            name="shuffleLibrary">Shuffle entire library</button>
        </div>
        <!--Shuffle by artist-->
        <div id="type-artist" style="display: none;">
            <p></p>
            <form method="post">
                <input type="text" class="form-control login-field" 
                id ="artist-field" name="artist-field" placeholder="Artist" style="width: 20%;">
                <p></p>
                <button type="submit" class="btn btn-secondary" 
                id="artist-submit" value="submit">Submit</button>
            </form>
        </div>
        <!--Progress Bar-->
        <p></p>
        <div id="progress-div" style="display: none;">
            <div id="progress-message"></div>
            <p></p>
            <div class="progress-bar-container">
                <div id="progress-bar" class="progress-bar"></div>
            </div>
        </div>
    </div>
</body>
{% endblock %}