{% extends "base.html" %}
{% block title %}Shuffle Artist{% endblock %}

{% block content %}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
var currentSong;
var guess_num = 0;
var device_id;
var player;
var correctGuesses = 0;
var songs = JSON.parse('{{ songs|tojson }}');
var total_songs = songs.length;
var guesses = [];
var testing = true;


// ----- UTILITY FUNCTIONS ---- //

let timerInterval;
let elapsedTime = 0; //ms
let startTime;

function updateTimer() {
    const elapsedSeconds = Math.floor(elapsedTime / 1000);
    document.getElementById('timerDisplay').innerText = `Time Remaining: ${20 - elapsedSeconds}s`;
}


function controlTimer(action) {
    if (action === 'start') {
        startTime = Date.now()
        timerInterval = setInterval(() => {
            if (elapsedTime >= 20000) {
                controlTimer('stop');
                document.getElementById('song-skip-button').click();
                return;
            }
            elapsedTime = Date.now() - startTime
            updateTimer();
        }, 1000);
    }
    else if (action === 'stop') {
        clearInterval(timerInterval);
    }
    else if (action === 'reset') {
        elapsedTime = 0;
        updateTimer();
    }
}


function chooseSong(songs) {
    // Returns boolean stating whether to terminate
    if (songs.length == 0) {
        document.getElementById('guess-div').style.display = 'none';
        document.getElementById('terminate-text').innerText = 'Saving your game data...';
        $.ajax({
            url: 'http://127.0.0.1:8000/play/artist',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                'correctGuesses': correctGuesses,
                'totalSongs': total_songs,
                'guesses': guesses 
            }),
            success: (response) => {
                window.location.href = response.redirectURL;
            }
        })
        return true;
    }
    currentSong = songs.pop();
    document.getElementById('album-image').src = currentSong.image_url;

    if (testing) {
        document.getElementById('songName').innerText = `Song Name: ${currentSong.name}`;
        document.getElementById('normalName').innerText = `Normalized Name: ${normalize(currentSong.name)}`;
        document.getElementById('songName').style.display = 'block';
        document.getElementById('normalName').style.display = 'block';
    }
    return false;
}


function addGuess(song_uri, time_to_guess) {
    let guess = {
        'song_uri': song_uri,
        'time_to_guess': time_to_guess
    };
    guesses.push(guess);
}


function normalize(str) {
    // Convert to lowercase
    str = str.toLowerCase();
    // Replace chars that might be used in the title
    str = str.replace(/\$/g, 's');
    str = str.replace(/\&/g, 'and');
    str = str.replace(/\@/g, 'at');
    str = str.replace(/[!.,']/g, '');
    str = str.replace(/[_]/g, ' ');
    // Remove everything after a non alphanumerical char
    str = str.replace(/[^\w\s].*/, '');
    // Remove extra spaces
    str = str.replace(/\s+/g, " ").trim();

    return str;
}


function playSong(device_id, uri) {
    if (testing === true) {
        return;
    }
    console.log('Song playing')
    const songUri = uri;
    const token = '{{ token }}';
    fetch(`https://api.spotify.com/v1/me/player/play?device_id=${device_id}`, {
        method: 'PUT',
        headers: {
            'Authorization': 'Bearer ' + token,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ uris: [songUri] })
    })
}


// ---- GAME LOGIC ---- //

window.onSpotifyWebPlaybackSDKReady = () => {
    const token = '{{ token }}';
    player = new Spotify.Player({
        name: 'Web Playback SDK Quick Start Player',
        getOAuthToken: cb => { cb(token); },
        volume: 0.5
    });
    // // LOGS:
    // player.addListener('not_ready', ({ device_id }) => {
    //     console.log('Device ID has gone offline', device_id);
    // });
    // player.addListener('initialization_error', ({ message }) => {
    //     console.error(message);
    // });
    // player.addListener('authentication_error', ({ message }) => {
    //     console.error(message);
    // });
    // player.addListener('account_error', ({ message }) => {
    //     console.error(message);
    // });
    
    // Ready
    player.addListener('ready', ({device_id: ID}) => {
        console.log('Ready with Device ID', ID);
        device_id = ID;
    });
    

    // Play button clicked
    document.getElementById('start-button').onclick = () => {
        playSong(device_id, currentSong.uri);
        document.getElementById('start-div').style.display = 'none';
        document.getElementById('guess-div').style.display = 'block';
        document.getElementById('song-guess-field').focus();
        controlTimer('start');
    };
    

    // Song guess submitted
    document.getElementById('song-submit-button').onclick = () => {
        const song_guess = document.getElementById('song-guess-field').value;
        console.log(`Song submitted: ${song_guess}`)
        if (song_guess.toLowerCase() == normalize(currentSong.name)) {
            console.log('Correct');
            player.togglePlay();
            controlTimer('stop');
            addGuess(currentSong.uri, Date.now() - startTime);
            correctGuesses++;
            // Prep for next song
            let terminate = chooseSong(songs);
            controlTimer('reset');
            if (!terminate) {
                document.getElementById("song-data").innerText = `Song: ${total_songs - songs.length}/${total_songs}`
                document.getElementById('song-guess-field').value = '';
                document.getElementById('guess-div').style.display = 'none';
                document.getElementById('start-div').style.display = 'block';
            }
        }
    }
    

    // Song skipped
    document.getElementById('song-skip-button').onclick = () => {
        player.togglePlay();
        controlTimer('stop');
        addGuess(currentSong.uri, null);
        // Prep for next song
        let terminate = chooseSong(songs);
        controlTimer('reset');
        if (!terminate) {
            document.getElementById("song-data").innerText = `Song: ${total_songs - songs.length}/${total_songs}`
            document.getElementById('song-guess-field').value = '';
            document.getElementById('guess-div').style.display = 'none';
            document.getElementById('start-div').style.display = 'block';
        }
    }


    // Interact with buttons using enter and shift
    document.addEventListener('keydown', (event) => {
        // Press Shift and Enter
        if (event.shiftKey && event.key == 'Enter') {
            if (document.getElementById('guess-div').style.display == 'block') {
                document.getElementById('song-skip-button').click();
            }
        }
        // Press Enter
        else if (event.key == 'Enter') {
            if (document.getElementById('start-div').style.display == 'block') {
                document.getElementById('start-button').click();
            }
            else if (document.getElementById('guess-div').style.display == 'block') {
                document.getElementById('song-submit-button').click();
            }
        }
    })


    player.connect();
    chooseSong(songs)
    document.getElementById("song-data").innerText = `Song: ${total_songs - songs.length}/${total_songs}`
}


</script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<body>
    <div class="wrapper">
        <p id="song-data" class="subtext"></p>
        <p id="timerDisplay" class="subtext">Time Remaining: 20s</p>
        <img class="img-rounded" style="width: 40%; max-width: 400px;" id="album-image" src="">
        <p></p>
        <!--Start game-->
        <div id="start-div" style="display: block;">
            <button type="submit" class="btn btn-primary" id="start-button">Start</button>
        </div>
        <!--Submit guesses-->
        <div id="guess-div" style="display: none;">
            <input type="text" class="form-control login-field" id="song-guess-field" 
            placeholder="Song" style="width: 20%;">
            <p></p>
            <!-- GETS TOGGLED  FOR TESTING-->
            <p id="songName" style="display: none;"></p>
            <p id="normalName" style="display: none;"></p>
            <!---->
            <button type="submit"class="btn btn-primary" id="song-submit-button">Submit</button>
            <button type="submit"class="btn btn-primary" id="song-skip-button">Skip</button>
            <p></p>
            <p class="subtext">Submit: Enter</p>
            <p class="subtext">Skip: Shift + Enter</p>
        </div>
        <p id="terminate-text"></p>
    </div>
</body>
{% endblock %}