{% extends "base.html" %}
{% block title %}Shuffle Artist{% endblock %}

{% block content %}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

<body>
    <div class="wrapper">
        <img src="{{profile_pic_url}}">
        <p></p>
    </div>
    <!-- {% for song in songs %}
    {{song}},
    {% endfor %} -->
</body>
{% for song in songs %}
{{ song["name"] }}
{% endfor %}
<scipt src="play_script.js"></scipt>
{% endblock %}